In [1]:
import psycopg2

In [2]:
%load_ext sql

In [3]:
%sql postgresql://postgres:password123@localhost:5433/postgres

In [7]:
%%sql
SELECT * FROM sales_db.sales_data

 * postgresql://postgres:***@localhost:5433/postgres
0 rows affected.

[]

In [13]:
%%sql

 * postgresql://postgres:***@localhost:5433/postgres
Done.
Done.

[]

 * postgresql://postgres:***@localhost:5433/postgres
2823 rows affected.

[]